<!DOCTYPE html>
<html>
	<head>
	  <title>LittleBiscuits</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<a class="navbar-brand" href="#" rel="tooltip" title="Little Biscuits" data-placement="right">LB</a>
			<div class="container-fluid">
				<div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <% 3.times do %>
			            	<span class="icon-bar"></span>
			        	<% end %>
			        </button>
        		</div> <!--end navbar-header -->
				<div class="navbar-collapse collapse">
		          	<ul class="nav navbar-nav navbar-right" role="tablist">
		          		<% menu_hash={"index" =>"Home", "about" =>"About", "contact" =>"Contact"} %>
		          		<% menu_hash.each do |x,  y| %>
		          			<li><a href="<%= x %>"><%= y %></a></li>
		          		<% end %>
			          	<!-- 
			         	<li><a href="about">About</a></li>
			          	<li><a href="contact">contact</a></li> -->
			         </ul> <!-- end nav ul -->
        		</div> <!-- end navbar-collapse -->
			</div><!-- end container fluid -->
		</nav><!-- end nav -->
		<%= image_tag("img1.jpeg", class: "img-responsive my_image") %>
		<div class="container">
			<h1> Welcome to the page of Little Biscuits! </h1>
			<h2>app for myself</h2>
			<%= yield %>
		</div><!-- end container -->
	</body>
</html>
